<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="NyamNyamEntities" connectionString="metadata=res://*/Components.DB.Model1.csdl|res://*/Components.DB.Model1.ssdl|res://*/Components.DB.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIM12\SQLHOTSPOT;initial catalog=322_nyam_nyam_shamaich;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NyamNyam1215ServEntities" connectionString="metadata=res://*/Components.DB.Model2_serv1215.csdl|res://*/Components.DB.Model2_serv1215.ssdl|res://*/Components.DB.Model2_serv1215.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=322_nyam_nyam_shamaich_v2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AdelEntities" connectionString="metadata=res://*/Components.DB.AdelModel.csdl|res://*/Components.DB.AdelModel.ssdl|res://*/Components.DB.AdelModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-ser-larisa\serv1215;initial catalog=322_nyam_nyam_adel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>